<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgfYVTSxvztDGEA2L2e-0ld_gF1O2bMt4</string>
	<key>GCM_SENDER_ID</key>
	<string>640369079919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myfoodie</string>
	<key>PROJECT_ID</key>
	<string>foodie-master-3acbe</string>
	<key>STORAGE_BUCKET</key>
	<string>foodie-master-3acbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640369079919:ios:23d2c3b2f9609b6244ff9a</string>
</dict>
</plist>